# path to Saxon .jar
saxon_path: /opt/migrations/shared/saxon/saxon9he.jar

# path to the MODS schema you wish to use
mods_schema: /opt/migrations/shared/mods/mods_3_6_schema.xsd

# list paths to the XSL stylesheets you want to use
stylesheets:
 - ~/code/mik/extras/lsu/xsl/blankNodes.xsl
 - ~/code/mik/extras/lsu/xsl/titleNonSort.xsl
 - ~/code/migration-miscellany/mik/stylesheets/deleteBlankNamePart.xsl
 - ~/code/migration-miscellany/mik/stylesheets/OrderedTemplates.xsl
 - ~/code/migration-miscellany/mik/stylesheets/cap_initial_genre_subject_letter.xsl
 - ~/code/migration-miscellany/mik/stylesheets/cleanMigratedFromID.xsl
